<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base HTML File</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>This is Common Header</h1>
    <div th:replace="${content}"></div>
    <h1>this is footer</h1>
</body>
</html>