<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditional Statements</title>
</head>
<body>

    <h1>Conditional Statements in Thymeleaf</h1>
    <h1 th:style="${isActive}?'color:green':'color:grey'" th:text="${isActive}?'ACTIVE !':'NOT ACTIVE'"></h1>

<!--    IF gender is M, this shows Male-->
    <h1 th:if="${gender=='M'}">Male</h1>
<!--    this won't show if the gender is 'M'-->
    <h1 th:unless="${gender=='M'}">Female</h1>

    <hr>

    <div th:switch="${#lists.size(intList)}">
        <h1 th:case="'0'">List Contains Zero Elements</h1>
        <h1 th:case="'1'">List contains One Element</h1>
        <h1 th:case="*">List contains more than One Element</h1>
    </div>

</body>
</html>