<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Template</title>
</head>
<body>
    <footer>
        <div class="container" th:fragment="footer1(title,anothaTitle)">
            <h1 th:text="${title}">Dayyan learning Code</h1>
            <h2 th:text="${anothaTitle}"></h2>
            <h2>From Internet and Youtube</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum.</h3>
        </div>
    </footer>
</body>
</html>